h1,
h2 {
    font-size: 40px;
    text-align: center;
}

p {
    text-align: center;
}



.half{
    padding-bottom: 50px;
}

.one{
    padding-top: 40px;
}

<<<<<<< HEAD

[class*="col-xs-10 col-xs-offset-1 col-md-4"]{
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: lightblue;
}
=======
.pic{
    padding:30px;
}

>>>>>>> b76e4367f497fe671593547c56a1f33d508cb5de

